<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <title>Sign In | DishNote</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <%- include('../partials/_footer.ejs') %>

      <main>
        <div class="signin-container">
          <h1>Sign in</h1>
          <form action="/auth/sign-in" method="POST" class="dish-form">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" required />
            </div>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
            <button type="submit">Sign in</button>
          </form>

        </div>
      </main>

</body>

</html>