<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>DishNote</title>

</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
    <%- include('./partials/_footer.ejs') %>
      <main>
        <h1 class="blur">Welcome to <%= user ? `back to DishNote, ${user.name}` : 'DishNote, guest' %>!</h1>
        <section class="intro">
          <h3> DineNote is a dish tracking app that lets everyone log, explore, and share their culinary experiences.
            Discover new dishes from other users' lists and get inspired by their food journeys.</h3>

          <% if (user) { %>
            <a class="add-dish" href="/users/<%= user._id %>/dishes/new">Add a Dish</a>
            <% } else { %>
              <a class="add-dish" href="auth/sign-up">Get started!</a>
              <% } %>
        </section>
      </main>

</body>

</html>