<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>DishNote</title>

</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
  <%- include('./partials/_footer.ejs') %>

  <h1>Welcome to <%= user ? `back to DishNote, ${user.username}` : 'DishNote, guest' %>!</h1>

</body>

</html>